<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a href="#/"><img src="assets/angular.png" class="logo" /></a>
  </div>
  <ul class="nav navbar-nav nav-pills">
    <li>
      <a
      [routerLink]="[{ outlets: { addBook: ['bookAdd'] } }]"
        routerLinkActive="active"
        >Add Book</a
      >
    </li>
    <li>
      <a
      [routerLink]="[{ outlets: { updateBook: ['bookUpdate'] } }]"
        routerLinkActive="active"
        >Update Book</a
      >
    </li>
    <li><a routerLink="/countries" routerLinkActive="active">Country</a></li>
    <li><a routerLink="/employees" routerLinkActive="active">Employees</a></li>
  </ul>
</nav>


<div style="height:200px;width:500px;border-color:2px solid blue;background-color:yellow">
<h3 [style.color]="'red'">Router Outlet</h3>
<router-outlet></router-outlet>
</div>
<div style="height:200px;width:500px;border-color:2px solid blue;background-color:cyan">
<h3 [style.color]="'red'">Named Router Outlet</h3>
<router-outlet name="addBook"></router-outlet>
<router-outlet name="updateBook"></router-outlet>
</div>
